[2014-07-09 16:29] nkly opened #1 "Rewrite ugly HandlerM and AppM"
Maybe these should be implemented as MonadTransformers, but it is a bit of a problem to wrap Eff monad (needs investigation). Also take a look at ExpressM and FFIed functions, maybe there's a better way to wrap side-effective functions.

[2014-07-09 18:37] #1 closed, assigned to nkly

[2014-07-20 18:26] nkly opened #2 "Find a proper and safe way to handle `req.query()`"
Query params parsed as JS objects. It makes harder to get them from `req.query` in a type-safe way. There are a couple of options here:
- Take string in `param.subparam.etc` format (which is the way we would get param in JS, e.g. `req.query.param.subparam.etc`), then split it by dots and recursively retrieve params. It has one major downside when using ReadForeign constraint: it fails while retrie

[2014-07-24 07:18] nkly opened #3 "Collect possible properties of object returned by 'req.route' and add separate datatype for it"

[2014-08-03 14:47] #2 closed, assigned to nkly

[2014-08-05 19:35] nkly opened #4 "Write documentation"

[2014-08-06 16:31] #4 closed, assigned to nkly

[2014-08-08 19:41] nkly opened #5 "Migrate to purescript-exceptions for handling errors"

[2014-08-10 09:39] #5 closed, assigned to nobody

[2014-08-26 07:56] nkly opened #6 "Implement a way to pass (req,res,next) into callbacks"
For example, now is not possible to read a file using async `readFile` and then send its contents to a client (imagine that we have no `sendFile` or `download`, just `send`), because response object can not be passed to a `readFile`'s callback

[2014-10-15 09:38] #6 closed, assigned to nobody

[2014-10-26 13:22] dancingrobot84 opened #7 "Keep up with express.js"
https://github.com/strongloop/express/releases/tag/4.10.0

[2014-11-15 06:38] alexchandel opened #8 "Add HTTPS support"
Express can create HTTPS servers with:
[code]

However purescript-express only has the `listen` wrapper.

[2014-12-09 03:23] PhilAndrew opened #9 "Move to gulp or pulp"
Hi here
http://pastebin.com/jHWsngau

You get a faster rebuild time, so when you change the Purescript it compiles then seems to reload faster.

I guess this is like a pull request.

[2015-01-23 08:01] #7 closed

[2015-01-23 08:07] dancingrobot84 commented on #8
Fixed in 0.1.5

[2015-01-23 08:07] #8 closed

[2015-02-06 23:58] wpoosanguansit opened #10 "Make error."
I ran grunt make and this is the error I am having:

Running "pscMake:0" (pscMake) task

Could you share abit how to run the code?  Thank you for your help.

[2015-02-07 12:33] garyb commented on #10
Did you run `bower install` first?

[2015-02-07 14:03] wpoosanguansit commented on #10
I see now that it didn't fully install the first time.  I now able to start example.js which is being poited to at port 3000.  Thanks for your help.

[2015-02-07 14:22] garyb commented on #10
You're welcome :)

[2015-02-08 10:03] #10 closed

[2015-02-16 20:51] bkyrlach opened #11 "'getBodyParam' doesn't work..."
In the current version of 'express.js' it does not parse the request body by default. This means that the 'getBodyParam' method throws runtime exceptions. There's also no easy way that I can see in the current API to turn on the 'body-parser' library (should one have it installed).

I hacked a solution that works, but it's not clean enough to submit as a PR (it makes some assumptions, so it's not

[2015-02-21 11:31] dancingrobot84 commented on #11
Thanks! I guess I missed this behaviour of express.js. I'll take a look into it soon and try to find a way to fix this.

[2015-02-27 00:55] dvdsgl opened #12 "Make it easy to embed an App in an existing JavaScript express application"
I have a large express app written in JavaScript, and I'd like to start writing new handlers in purescript. I'd like to be able to do this:

In `Main.purs`:

[code]

In `server.js`:

[code]

I'm not sure if there's a better semantics for this, but it would really help existing express apps implement new functionality in purescript, and eventually port entirely, which is my goal.

[2015-02-27 03:14] wpoosanguansit opened #13 "Example in adding new middlewares into the app."
I just found this project.  And I am still trying to figure things out.  Would it be possible to add to the example how one can add new middlewares into the app?  Thanks for your help.

[2015-02-28 18:15] dancingrobot84 commented on #11
I've fixed runtime exceptions: check whether body is defined or not before getting anything from it and if it's undefined return nothing. Not sure if it's good to be silent when body is not parsed, but I'm going to rewrite a lot of internal functions later anyway, so I guess it's ok for now.

Also I've added [example](https://github.com/dancingrobot84/purescript-express/blob/master/examples/JSMidd

[2015-02-28 18:15] #11 closed

[2015-02-28 18:21] dancingrobot84 commented on #13
Hi! Thank you. I've added example for JS middleware [here](https://github.com/dancingrobot84/purescript-express/blob/master/examples/JSMiddleware.purs). If you want to write middleware in PS you can take a look at logger [implementation](https://github.com/dancingrobot84/purescript-express/blob/master/examples/ToDoServer.purs#L52) and [usage](https://github.com/dancingrobot84/purescript-express/bl

[2015-02-28 18:21] #13 closed

[2015-03-01 08:36] dancingrobot84 commented on #12
Hi! Thanks for suggestion. I've added `apply` function that allows you to do this thing and [example](https://github.com/dancingrobot84/purescript-express/blob/master/examples/EmbedApp.purs) of its usage.

[2015-03-01 08:36] #12 closed

[2015-03-02 04:53] dvdsgl opened #14 "Control.Monad.Eff.Class definition also appears in purescript-monad-eff"
`purescript-monad-eff` defines the same `Control.Monad.Eff.Class` module that you do. Please drop your definition and add this dependency so I can use `purescript-monad-aff`!

[2015-03-03 16:20] #14 closed

[2015-03-04 17:46] dvdsgl opened #15 "Offer HandlerM built on Aff (Asynchronous Eff)"
It would be really cool if HandlerM were a transformer on Aff (https://github.com/slamdata/purescript-aff), or to offer AsyncHandlerM so we could more easily write Handlers with lots of callbacks:

[code]

Doing something like this with `capture` can get ugly.

[2015-03-05 04:10] dancingrobot84 commented on #15
Haven't heard of Aff, but it's definitely better than `capture`. Thanks!

[2015-03-07 02:21] wpoosanguansit opened #16 "To respond with views."
I am not sure if this is the correct way to try to respond with views which in js is

 res.render('index', { title: 'Hey', message: 'Hello there!'});

If i understand correctly, we would have to create a function like intlRespWithView and expose it via the external App.purs something like render :: String -> Json -> Handler

Is that how it should be done?

[2015-04-24 18:02] paf31 opened #17 "Type of nextThrow"
Should `nextThrow` have the more general type `forall a. HandlerM a`?

Thanks.

[2015-04-24 18:13] paf31 opened #18 "intlReqBodyParam does not allow empty strings"
If I try to use `getBodyParam "foo"` with e.g. `{ "foo": "" }`, I get `Nothing` back, but I would expect the empty string. Is this the expected behavior? If not, I can send a PR if you like.

[2015-04-27 11:30] #17 closed

[2015-04-27 11:31] dancingrobot84 commented on #17
Hi! Thanks for the report. It should be more general, sure.

[2015-04-27 11:37] dancingrobot84 commented on #16
Hi! Sorry for being late, I missed your issue somehow. Responding with views is not supported right now. `intlRespWithView` seems to be the right way providing current state of ps-express.

[2015-04-27 11:39] dancingrobot84 commented on #18
Hi! Thanks for noticing. This is a bug and if you've already solution I will gladly accept it.

[2015-07-04 00:43] michaelficarra commented on #15
:+1:, I was just trying to use purescript-express with redis, and the node redis library is entirely asynchronous, so I have no way to write a handler that can respond based on my interaction with redis. :cry:

[2015-07-04 21:59] stkb opened #20 "Update for purescript 0.7"
Are you planning to update this library for purescript 0.7 compatibility?

[2015-07-06 12:20] dancingrobot84 commented on #20
Hi! Yes, I'm planning to update purescript-express to the latest versions of PS and libraries and do some refactoring, but I can't tell you concrete date. Maybe in a couple of weeks or so.

[2015-07-06 17:47] stkb commented on #20
Would you take a PR on it? I made it a little project over the weekend so now have a working 0.7 version on my machine. Have changed as little as possible.

[2015-07-07 14:01] dancingrobot84 commented on #20
Yes, I guess I would.

[2015-07-10 08:24] stkb commented on #20
Ok thanks, I've [submitted a PR](https://github.com/dancingrobot84/purescript-express/pull/21) for your perusal

[2015-07-13 12:58] #18 closed

[2015-07-13 13:05] dancingrobot84 opened #22 "Get rid of easy-ffi"

[2015-07-13 13:08] dancingrobot84 opened #23 "Better readme"

[2015-07-13 13:09] dancingrobot84 opened #24 "Add tests"

[2015-07-13 13:11] michaelficarra commented on #22
I'll take this after #21 is merged.

[2015-07-13 14:28] dancingrobot84 commented on #22
@michaelficarra Great, thanks!

[2015-07-14 08:51] #20 closed

[2015-07-14 16:21] #9 closed

[2015-07-30 12:21] anttih opened #28 "Add a build script to compile, run jscs and/or jslint and tests"
When the FFI stuff gets moved to separate .js files we can run jscs/jslint on those, so a proper build would be nice.

[2015-07-30 13:01] michaelficarra commented on #28
Or eslint.

[2015-08-03 18:08] kjameslubin opened #29 "Bower file probably out of date"
```  pulp dep install https://github.com/dancingrobot84/purescript-express.git; pulp build ```

gives the following error message:
``psc: It looks like you are trying to use a feature from a previous version of the compiler:
Array notation is no longer supported. Use Array _ instead of [_].``

I checked that the master branch bower file and the last version tagged bower file do not match, and bowe

[2015-08-06 17:12] stkb commented on #29
Yeah bower's installing the last tagged version of purescript-express there (v0.2.0) and that is an outdated version, before changes were made to make it compatible with the new purescript 0.7 compiler.

Not sure when @dancingrobot84 is planning on doing a version bump, but the version in master is working fine, so you can tell bower to download from the master branch instead by adding `#master`,

[2015-08-06 17:23] kjameslubin commented on #29
That is what I ended up doing. I didn't know about the #master tag though, thanks

[2015-09-05 04:47] #29 closed

[2015-09-25 06:51] owickstrom commented on #16
Didn't see this issue before I posted https://github.com/dancingrobot84/purescript-express/pull/31, but I think this is what you are talking about, right?

[2015-09-25 12:07] wpoosanguansit commented on #16
yes

[2015-09-28 18:17] #24 closed

[2015-10-03 18:25] kristianmandrup opened #32 "Let's make a similar wrapper for Koa server :)"
Anyone interested?

[2015-10-08 18:28] jgoux commented on #32
I'm really interested by this ! :+1:

[2015-10-09 08:21] kristianmandrup commented on #32
Then let's do it!! I will start a repo ;) I have some exp with Koa and porting for other frameworks, but very little purescript experience.

[2015-10-26 22:19] xavierzwirtz opened #34 "Use Array _ instead of [_]"
Getting a compile error with `psc 0.7.4.1`
[code]

[2015-10-27 07:57] dancingrobot84 commented on #34
Try `master` version. It is fixed there.

[2015-10-27 07:57] #34 closed

[2015-11-06 13:53] #15 closed

[2015-11-06 13:56] #32 closed

[2015-12-08 01:20] kika opened #35 "ToDoServer enhancement suggestion"
ToDoServer enhancement suggestion:
https://github.com/kika/purescript-express-todoserver

Basically the same thing, but I hope in a more Purescript idiomatic way, without so many foreign imports.
I can make it as a PR or just grab it from there if you like.

[2015-12-10 10:34] dancingrobot84 commented on #35
@kika Thanks! I'll take a look at it this weekend.

[2016-01-04 16:19] leighman opened #36 "Make a release that works with the 0.7 compiler for bower"
`bower install purescript-express` currently gets you the 0.2.0 release which doesn't work with the 0.7 compiler.
I know nothing about bower but I think it would need a new release tagged?

[2016-01-24 12:51] #22 closed

[2016-01-24 13:22] dancingrobot84 commented on #35
Replaced todo server example with yours. Thank you again :+1:

[2016-01-24 13:22] #35 closed

[2016-01-24 13:22] #23 closed

[2016-01-24 13:29] dancingrobot84 commented on #36
Done. 0.3.0 is compatible with PS 0.7.x

[2016-01-24 13:29] #36 closed

[2016-02-20 16:10] dancingrobot84 commented on #16
Fixed with #31

[2016-02-20 16:10] #16 closed

[2016-03-09 16:31] robkuz opened #38 "Use purescript-node-http 0.3.1+"
Hi,

is there any chance to get a new version of purescript-express that uses version 0.3.1 of purescript-node-http? I tried it myself but I am stuck at this error.

    purescript-express/bower_components/purescript-node-fs/src/Node/FS/Sync.purs line 384,
    column 36 - line 384, column 45

    Could not match type

    Eff
      ( buffer :: BUFFER
      | _0
      )
      Int

     with type

[2016-03-09 17:16] dancingrobot84 commented on #38
Hi, @robkuz

1. From the trace you gave it looks like the error is in purescript-node-fs package. Please, find out the version of purescript and purescript-node-fs used in your build and report the problem [here](https://github.com/purescript-node/purescript-node-fs)

2. purescript-express uses express.js under the hood; it handles all network operations. I think there is a little possibility of i

[2016-03-10 10:15] robkuz commented on #38
Hi @dancingrobot84 ,

I am not sure I understand: `bower.json` does include a dependency to `purescript-node-http` and possibly that somehow has a sub-dependency into `purescript-node-fs. Both of them are older versions and if both are updated to a more recent version it works (at least on my machine ;-) ).

I created a pull request.

Another issue: The compiler is warning about a lot about import

[2016-03-10 10:52] dancingrobot84 commented on #38
Oh, sorry, my bad -- completely forgot that purescript-node-http was introduced for compatibility of `listenHttp(s)` methods after one of big changes. Yes, then I guess it should be updated.

Glad that you've solved the problem with node-fs. I'd certainly like if you clean up import warnings too, however, it could be a tedious work, so it's up to you whether to do it or not.

[2016-03-10 11:03] robkuz commented on #38
@dancingrobot84 maybe I'll do some part tomorrow and some part next week ;-)

[2016-03-10 11:03] #38 closed

[2016-03-23 04:38] zhangchiqing opened #40 "Error in `pulp build`"
After running
[code]

I got the following error

[code]

My environment is Mac OS
[code]

Did I miss anything?

[2016-03-23 23:28] zhangchiqing commented on #40
Upgrading psc to 0.8.2.0 solved this issue.

[2016-03-23 23:28] #40 closed

[2016-04-04 06:56] Zenleaf opened #41 "Add to Pursuit"
Hi this is an awesome initiative to use Purescript on the server side as well. I didn't find this library on Pursuit. Why not add it there?

[2016-04-07 07:42] dancingrobot84 commented on #41
Hi @Zenleaf! It's strange, because I've added ps-express there some time ago. Nevertheless, I can do it again.

[2016-04-11 07:54] jedahu opened #42 "All tests pass with purescript-aff 0.16.1"
I have a project that chokes on `bower install` because it requires both purescript-aff 0.13.0 (via purescript-express) and 0.16.1 (via another dependency).

Adding `"purescript-aff": "^0.16.1"` to bower resolutions has not fixed the issue.

All tests pass with 0.16.1. Do you mind updating?

[2016-04-11 18:31] dancingrobot84 commented on #42
Hi @jedahu,
Nope, I don't mind. Dependencies are updated in purescript-express 0.3.3.

[2016-04-11 18:31] #42 closed

[2016-04-11 18:31] dancingrobot84 commented on #41
Uploaded docs: https://pursuit.purescript.org/packages/purescript-express/0.3.3

[2016-04-11 18:31] #41 closed

[2016-04-13 03:15] jedahu commented on #42
Thanks @dancingrobot84.

[2016-06-04 17:11] wpoosanguansit opened #43 "How can we use async/await with the framework?"
Hi,

I figured out a work around and I think this is not relevant now.  Thanks.

[2016-06-05 04:31] #43 closed

[2016-06-06 23:08] Risto-Stevcev opened #44 "Update to Purescript 0.9.1"
The dependencies and import statements need to be updated for Purescript 0.9.1

[2016-06-08 07:46] kika commented on #44
I started working on this here https://github.com/kika/purescript-express
But I'm blocked by purescript-node-fs module which depends on purescript-datetime, which, in turn, is being redesigned https://github.com/purescript/purescript-datetime/issues/33 and will not be updated to 0.9.1 in its current form. As soon as they release datetime I'll continue on the 0.9.1 update.

[2016-06-08 14:09] Risto-Stevcev commented on #44
Nice! Do you know if this repo is still maintained or if the maintainer is just mia?

[2016-06-08 21:35] kika commented on #44
History of PRs shows that they are being merged, so the repo seems to be alive, just not actively developed. My `ToDoServer` implementation was accepted back in December.

[2016-06-09 14:59] dancingrobot84 commented on #44
@Risto-Stevcev @kika Yes, that's right. I'm not into purescript anymore, but can always review and accept occasional PR. If somebody wants to take ownership and develop the project more actively I'll be happy to transfer it.

[2016-06-09 17:13] Risto-Stevcev commented on #44
@dancingrobot84 I'd be happy to take over the project unless @kika really wants to do it

[2016-06-10 03:15] kika commented on #44
We're two steps closer, purescript-datetime was updated and I've just submitted PR for purescript-node-fs : https://github.com/purescript-node/purescript-node-fs/pull/30

I'll work on express using my local copy of node-fs meanwhile.

@dancingrobot84 I can take over the module, no problem. I use it for work and my product depends on it (not much currently, but I have plans to move more code from p

[2016-06-10 18:55] dancingrobot84 commented on #44
@Risto-Stevcev @kika Ok, then let's leave it how it is now until the time I can't review PRs anymore.

[2016-06-10 22:17] kika commented on #44
We're almost there. Currently the only thing left is https://github.com/bodil/purescript-test-unit/pull/19
And people are working on it.

[2016-06-16 21:28] kika commented on #44
All modules we were waiting for were updated and my fork compiles and runs. The only issue is tests. They were written using `purescript-test-unit` 3.0.0 which is *very* old and the API changed even before 0.9.1 release. I made some changes and resolved some minor problems, but work still needs to be done, as of now it is not able to pass Travis build because of the tests. Unfortunately, I can't d

[2016-06-20 05:51] #44 closed

[2016-07-28 11:56] kika opened #46 "Alter request"
As I understand current best Express practice, the idiomatic way of passing data between middlewares is to assign to the Request object like `req.someData = {whatever: "foobar"}`
Is there no way to do that in Purescript implementation, or I'm just blind?

[2016-07-28 14:03] dancingrobot84 commented on #46
@kika I think you're right. `Request` is just opaque datatype in ps-express for now. Probably it is a good idea to make a couple of combinators for putting/getting data to/from request object.

[2016-07-29 12:01] kika commented on #15
How should I handle errors in Aff? I have a code like this:
[code]
And the errors which happen in `upstreamAuth` are propagated to runtime exceptions without any possibility to handle them. I suppose that's where I should use `runAff`, and put `next` and `nextThrow` as success and failure callbacks but it requires handlers which return `Eff`, not `HandlerM`, as `runAff` does. Obviously, I'm missin

[2016-07-29 12:09] kika commented on #46
Okay, I'll do a PR as soon as I figure out how to handle errors from Aff "subrequests"
( https://github.com/dancingrobot84/purescript-express/issues/15 )
If you have an idea what to do there, I'd appreciate an advice.

How does such Request API look like:
[code]

[2016-07-29 14:13] Risto-Stevcev commented on #15
@kika you can use `attempt` from the Aff lib

[2016-07-29 22:25] kika commented on #15
@Risto-Stevcev right, that's what I've started with, but then it introduces another `case ... of Left -> ... Right -> ...` and I'm trying to join the [Destry All Ifs](http://degoes.net/articles/destroy-all-ifs) sect :-)

[2016-08-12 06:55] #46 closed

[2016-08-30 09:43] perglr opened #50 "How can I serve static files?"
This is probably not implemented, yet. Can you please advise me on a simple hack?

[2016-08-30 14:58] dancingrobot84 commented on #50
Hi! You can use either [sendFile](https://github.com/dancingrobot84/purescript-express/blob/master/docs/Node/Express/Response.md#sendfile) or [sendFileExt](https://github.com/dancingrobot84/purescript-express/blob/master/docs/Node/Express/Response.md#sendfileext). They will call expressjs' [sendFile](http://expressjs.com/en/4x/api.html#res.sendFile) under the hood.

[2016-08-31 07:13] perglr commented on #50
Thx!

[2016-08-31 07:13] #50 closed

[2016-09-06 19:09] chexxor commented on #50
@dancingrobot84 Express 4 ships with [serve-static](https://github.com/expressjs/serve-static), located at [`express.static`](http://expressjs.com/en/starter/static-files.html). I'd like to make a PR to include an FFI to this - what do you think?

[2016-09-07 18:14] dancingrobot84 commented on #50
@chexxor That would be good :)

[2016-12-01 19:30] chexxor commented on #12
The example you provided didn't answer a similar problem I wanted to solve: I want to maintain a `server.js` JavaScript file which has `var app = require('express')().use(...).get(...).listen(3000);`, but I also want to write a bunch of HTTP request handlers in PureScript. How, then, do we compile the PureScript and attach those handlers into this `app`?

After lots of poking and experimenting, I

[2017-01-25 18:20] chexxor opened #55 "Add middleware to specific handlers"
I need to add a middleware function to a specific path.

The JS express lib I'm using says to do this:

[code]

This express wrapper doesn't have any way to add a middleware function like this to a specific path, however. The only way to do this is to modify purescript-express to add another param to `getWithMiddleware` to make it like `getWithMiddleware :: forall e r. (RoutePattern r) => r -> Han

[2017-01-30 10:29] dancingrobot84 commented on #55
I think you can use `Monad` instead of `Apply`. For example:

[code]

The only problem is that, most probably, third-party middleware will only call next error handler in chain and not throw any exception, so the 2nd action won't notice anything and will be executed anyway. It can be fixed by installing an error handler that throws the exception further:

[code]

[2017-02-05 03:54] chexxor commented on #55
@dancingrobot84 Thanks so much for the idea! I have gotten sidetracked with other stuff, but I'll get back to my express app soon to try this.

[2017-02-12 23:46] chexxor commented on #55
The monad composition works, but the second one will be executed despite the first middleware calling "next" with an error. In addition, `(loginRequired >>= \_ -> showSensitiveData)` is considered a single middleware handler by Express, so your idea of bypassing the `showSensitiveData` function by attaching `useOnError errorHandler` wouldn't work, I believe.

I got around this by wrapping the `log

[2017-02-19 18:56] raduom opened #57 "Support the static handler."
I needed static support for an app I am working on, and I wrote something up that works for me.
Would you be interested in a pull request with the code?

[2017-02-21 02:04] chexxor commented on #57
Yeah, it would be welcome: https://github.com/dancingrobot84/purescript-express/issues/50

[2017-02-21 10:10] dancingrobot84 commented on #55
Yes, you're right about `errorHandler`, it doesn't work. However, looking at your PR and express.js code, I came up to another solution: you can just attach several middlewares using several calls to `get`. Here is the code to illustrate it:

[code]

Does it solve the problem you have?

[2017-02-21 10:30] raduom commented on #57
I also wrote a wrapper around cookie-parser in order to be able to get the cookies set on the request. Would that be also something you would consider merging? Should I put up a new issue?

[2017-02-21 12:26] dancingrobot84 commented on #57
@raduom Yes, please :) If you have a code for it, you can send a PR straightaway.

[2017-02-21 12:26] #57 closed

[2017-02-21 16:10] chexxor commented on #55
It's a good idea! I'll look closer and try it.

On Feb 21, 2017 04:10, "Nikolai Obedin" <notifications@github.com> wrote:

[2017-02-21 19:31] chexxor commented on #55
@dancingrobot84 - Nice! Yeah that seems to work. It makes my server a bit more unmaintainable because I have to bind to the same route multiple times - I imagine in the future I might change the order of my routes and mistakenly place the login middleware *after* the route it is meant to protect. I'm fine with this, though, as ordering seems to be the nature of middleware.

Want me to close my oth

[2017-02-21 19:37] chexxor commented on #55
Or add docs somewhere?

[2017-02-22 12:10] dancingrobot84 commented on #55
@chexxor Let's close the PR, but leave the issue open because calling several `get`s on the same route doesn't look good. I'll come up with a better way to handle the case of several chained handlers.

[2017-02-22 20:28] chexxor commented on #55
One idea I had when considering this was making instance of monoid for HTTP verbs, but that would require changing data types quite a bit. (also, I choose monoid b/c it's one of the few concepts I know :3 )

[code]

[2017-03-01 16:11] coot opened #63 "Move `test/Test/Mock.purs` to `src/Node/Expresss/Test/Mock.purs`"
I think that the utility functions in `test/Test/Mock.purs` are useful for testing express apps so it makes sense to move the code to a public place.  I can write a PR if you agree on that.

[2017-03-13 15:04] dancingrobot84 commented on #63
Closed by #64

[2017-03-13 15:04] #63 closed

[2017-04-14 07:22] epicallan opened #66 "Error during build due to missing Test.Unit module."
[code]

I downgraded to an earlier commit to get past this.

[2017-04-17 12:21] anilanar commented on #66
This is happening to due `Test.Mock` relying on `Test.Unit`. `Test.Unit` is a dev-dependency so it's not installed when you do `bower install`.

[2017-04-17 17:21] epicallan commented on #66
Thanks @anilanar.

[2017-05-11 17:16] epicallan commented on #66
Hi @anilanar is there special reason why `` Test.Unit `` was not included as dependency in the new updates or moving the Node.Express.Test.Mock module into the tests folders  since it breaks ``` pulp build ``` this can be a turn off for a new user.

If there is no special reason I could take a stub at refactoring the code.

[2017-05-11 21:37] anilanar commented on #66
There is no special reason.

On 11. May 2017 at 19:16:07, Lukwago Allan (notifications@github.com<mailto:notifications@github.com>) wrote:

Hi @anilanar<https://github.com/anilanar> is there special reason why Test.Unit was not included as dependency in the new updates or moving the Node.Express.Test.Mock module into the tests folders since it breaks pulp build this can be a turn off for a new use

[2017-05-15 10:58] joaalto commented on #66
Just tried to use the project and ran into this issue. I suppose this issue is caused by #64. Since the production code now depends on `Test.Unit`, shouldn't `purescript-test-unit` be moved from `devDependencies` to `dependencies`?

[2017-05-15 11:04] joaalto commented on #66
Ah, just noticed the fix is included here: #68.

[2017-05-31 19:17] joaalto commented on #66
Is it possible to get a new release now that this issue is fixed?

[2017-06-01 09:56] nkly commented on #66
@joaalto Sure. I was waiting for more PRs maybe being finished, but can also release now it it's necessary

[2017-06-01 09:58] #66 closed

[2017-08-09 19:37] chexxor opened #69 "maxAge type should be Number"
Currently is `maxAge :: Int`, but should be `maxAge :: Number`.
PureScript's `Int` will max at a relatively low number, so if I do `cookie.maxAge += 100000`, it will roll over to a negative integer.

A workaround is to `unsafeCoerce` maxAge to a Number before doing math with it.

[2017-08-11 08:06] nkly commented on #69
It's a good idea to check whether `maxAge` is negative and throw an error if it is, but I'm not convinced that the type should be changed. According to https://pursuit.purescript.org/builtins/docs/Prim, `Int` is a 32-bit signed integer and `Number` is a JS float. The max of `Int` is 2147483647, and since `maxAge` is measured in seconds, it corresponds roughly to 68 years of life of a cookie, which

[2017-08-11 08:34] nkly commented on #69
Sorry, was wrong about `maxAge` in express.js. For some reason they chose to use milliseconds instead of seconds; in that case `Int` is not enough. I think it's better to keep `Int` still, but mention that it is measured in seconds, the way it is in `Set-Cookie` header, but convert to `Number` internally and multiply by 1000 before passing to express.js. WDYT?

[2017-08-14 17:37] chexxor commented on #69
Here's my specific use of `setCookie`: The value I'm using is the `exp` value from a JWT, which is number seconds since Unix epoch. An example value is `1502508908`, which should fit in the Int range. Following the types, then, I needed to convert seconds to milliseconds, which means `1502508908 * 1000`, but this then overflows Int, producing negative-valued `maxAge` which causes the cookie to exp

[2017-08-17 06:58] nkly commented on #69
Thanks for sharing the use case and idea. It looks pretty reasonable, especially when implemented with `Data.Time.Duration` which looks like a right tool for the task. Would you care to make a PR? :)

[2017-09-21 10:32] justinwoo opened #71 "getBody without Decode constraint?"
Is there a reason why there isn't a `getBody'` or something without a Decode constraint? I'd like to have one since I use `ReadForeign` from simple-json and don't want to introduce the same code everywhere (or have to use getBody to Foreign or something)

[2017-09-26 10:30] nkly commented on #71
I believe the only reason is that nobody wrote it yet :) Would you be interested to do it?

[2017-09-29 20:42] justinwoo opened #72 "Needs Aff 4.0 update"
I'm making a note of this in case so I can hopefully remember to come back and fix this.

[2017-10-02 14:22] #72 closed

[2017-10-02 14:22] nkly commented on #72
Fixed by #74

[2017-10-12 19:54] lpil opened #75 "Include application integration testing example"
Hello!

Thank you for this library.

I think a file in which the testing of an Express app is shown would be a useful addition to the `examples` directory. Would it be possible to have such an example added? :)

Cheers,
Louis

[2017-10-16 07:24] nkly commented on #75
Hi Louis,

Thank you. It is a really good idea :+1:  I'd love to do that, but unfortunately don't have time. I'd be glad to review and assist, though, if you or anybody else implements it.

Best,
Nikolai.

[2017-10-16 13:05] lpil commented on #75
I'd be happy to contribute once I've worked out how to test such an application :)

Would you start the server and use a http client to make requests to it?

[2017-10-23 15:48] nkly commented on #75
Yes, I would start the server and issue requests. In JS I would use [chai-http](https://github.com/chaijs/chai-http) to automatically start the server on a free port, send requests, receive responses, and make assertions about them. I couldn't find anything like that for PS, but maybe it's possible to use [purescript-node-http](https://github.com/purescript-node/purescript-node-http) to create suc

[2017-10-23 16:01] lpil commented on #75
Great, thank you for the pointers

[2017-11-04 21:22] lpil commented on #75
I've been trying to implement this and I'm struggling. Here's what I currently have https://gist.github.com/lpil/65bc416f8caa610bbad119419a38a03b

My test fails with no output. Does it look like I'm going the right way here?

[2017-11-05 00:03] lpil commented on #75
Hi @nkly. I have it mostly worked with the exception that once the test have finished the process doesn't die as the server is still listening. How do you handle this?

Here's an example of my approach:

[code]

[2017-11-20 09:27] #71 closed

[2018-02-07 14:42] spocke opened #79 "set raw value to MockRequest"
It would have been nice if there was a way to set a non string as the body value of a MockRequest. I've started using your library and I'm using the json middleware where it parses the body as a foregin json object and in order to test that I need to be able to set the body of the MockRequest to something other than a string I currently kind of hacked around that using unsafeCoerce but that doesn'

[2018-02-11 12:08] nkly commented on #79
Yep, it sounds like a good idea. Would you like to implement it?

[2018-02-11 21:44] kika opened #80 "Text.Parsing.Parser bombs out on long URLs"
The URL is questionable, as it's longer than 2048, but according to the standard, it should support at least 8000.
It's a `purescript-parsing` problem, not `purescript-express`, but it renders the query string parsing for any _serious_ :-) application useless.

[code]

example of the query string (very long): `side=F&req={%22name%22:%22R101%22,%22units%22:42,%22width%22:600,%22depth%22:1200,%22dev

[2018-02-26 16:46] #79 closed

[2018-02-26 19:10] kika commented on #80
@natefaubion nudged me in the right direction - we don't need to dump `purescript-parsing`, we just need to base `ParserT` on `Free` monad, which offers trampolining. I've started a fix but didn't have enough time to finish. Will try to make something soon.

[2018-02-26 19:25] felixSchl commented on #80
I think it just comes down to `run trampoline $ run parser <input>
<parser>` without further changes. Have u considered using
purescript-string-parsers at all? Should be pretry much drop in and more
performant as well.

On 27/02/2018 08:11, "Kirill Pertsev" <notifications@github.com> wrote:

[2018-02-26 19:30] natefaubion commented on #80
Anything that uses a naive state-passing representation is going to blow the stack at some point, `purescript-string-parsers` included.

[2018-02-26 20:47] felixSchl commented on #80
I just tested it, and the trampoline approach works even on huge inputs. I tested it with 40000 characters. Granted it took a long time to parse, but no stack was overflown, whereas the trampoline-less version died almost instantly.

Here are the required code changes:

[code]

[2018-02-26 20:55] felixSchl commented on #80
I've created a quick PR for it, you can take it or leave it, but it fixes the problem in the short term.

[2018-03-11 21:38] kika commented on #80
I've added a test and submitted a PR to @felixSchl branch. WFM and LGTM.

[2018-03-12 09:09] #80 closed

[2018-03-26 19:14] starper opened #83 ""exports._redirectWithStatus" function is defined twice"
[here](https://github.com/nkly/purescript-express/blob/v0.6.4/src/Node/Express/Response.js#L76) and [here](https://github.com/nkly/purescript-express/blob/v0.6.4/src/Node/Express/Response.js#L82)

[2018-03-28 19:24] nkly commented on #83
Hi! Thank you for the report. It should be definitely fixed.

[2018-07-11 21:53] #83 closed

[2018-09-24 16:50] akilegaspi commented on #32
Was this ever realized? I'm interested in chipping in

[2018-10-17 12:35] RAbraham opened #91 "Update Bower with latest commit?"
First of all, thank you for updating to 0.12!

New to Bower here, but do you need to update the bower repository with the latest commit(`6bbda`  i.e. `Merge pull request #90 from adamczykm/bower-deps-fix`).

Otherwise, following the README and doing just a `bower install purescript-express` does not work for me. To build successfully, I had to manually do
[code]
basically, the commit by `adamczykm

[2018-10-19 01:41] Thimoteus commented on #91
There needs to be a new release; so a new tag.

[2018-12-19 11:29] i-am-the-slime opened #92 "Publish master version"
In the latest release there are three warnings about unused imports, it would be very nice to not see them everytime. It seems to me that this is fixed in master so a new release is warranted.

[2019-01-24 07:07] nkly commented on #92
Hi @i-am-the-slime. Thanks for the notification. I've just published `v0.7.1`. Hope it will help you and others. Cheers!

[2019-01-24 07:07] #92 closed

[2019-02-05 12:05] i-am-the-slime opened #93 "No method to send response without a body"

[2019-02-07 07:48] nkly commented on #93
Hi! AFAIK there is no special method that sends response without a content. You may try sending an empty string, maybe that will do it.

[2019-02-07 08:18] i-am-the-slime commented on #93
I'm sending undefined, I think that works.

[2019-02-07 08:22] nkly commented on #93
Cool, good to know there is a workaround. I'll leave the issue open though because a method sending response without a body makes total sense.

[2019-02-07 08:23] i-am-the-slime commented on #93
I think it should be as easy as also exporting send as an `Fn1`

[2019-02-22 15:35] AndreiChugunov opened #94 "cookieParser issue"
You have to not only `npm install express`, but to `npm install cookie-parser` as well since you will get a error trying to `use cookie-parser` (at least for express version 4.15.2).

[2019-02-25 07:26] nkly commented on #94
Hi! Thank you for reporting this. Does it occur only when using `CookieParser` middleware or also in general? I'm trying to figure out where to put the information about `cookie-parser` dependency.

[2019-02-25 14:40] AndreiChugunov commented on #94
@nkly
This occurs only while using `CookieParser`. May be nodejs express had `cookie-parser` in it automatically some time ago and now they both just come as a separated packages (not sure on this, just my own guess). I think you can update readme ("Usage part").

[2019-03-16 17:03] i-am-the-slime opened #95 "Fix Apply instance"
Currently the apply instance does things in the wrong order. Which leads to wrong behaviour when using `*>` over do notation.

[2019-03-18 08:55] #95 closed

[2019-05-19 11:01] i-am-the-slime commented on #55
So what's the status here?

[2019-05-19 11:20] chexxor commented on #55
Probably needs someone to propose a concrete way to do it.

[2019-05-19 11:26] i-am-the-slime commented on #55
I was wondering if the "use the same route twice" solution isn't good enough, given that one could write something like this:
[code]
But I probably misunderstood something.
[code]

[2019-06-10 17:14] epost opened #97 "Support Spago"
Hi! I needed Spago support so I created a PR for it, as well as this issue to document it.

[2019-06-29 14:47] #75 closed

[2019-12-10 13:59] ygottschalk opened #100 "Export AppM constructor"
I'm currently writing a wrapper around [express-ws](https://www.npmjs.com/package/express-ws).

To provide a route handler `ws :: forall r. RoutePattern r => r -> WsReqHandler -> App` I need the `AppM` constructor.

My proposal would be to move the definition of `AppM` into an internal module and export the the constructor from there.

Will provide a PR later.

[2020-07-31 09:18] i-am-the-slime opened #102 "Maintainer"
@nkly Do you still maintain this project?
There are a few pull requests that would need some love. I can offer to help here if you need any.

[2020-08-01 15:08] i-am-the-slime opened #103 "Router is missing"
There are no bindings for the Router, from what I can tell.

[2020-08-06 08:52] nkly commented on #102
Hi @i-am-the-slime,

Yep, I'm still the official maintainer, but I've lost interest in the project sometime ago and stopped tracking Purescript progress in general. I'd be glad if somebody could pick it up and I'm happy to discuss the details of handover.

[2020-10-30 16:58] srghma opened #104 "middlewares have wrong type -> current is `Fn3 Request Response (Effect Unit) (Effect Unit)`, expected is `EffectFn3 Request Response (Effect Unit) Unit`"
I have noticied that we just through hoops

e.g. middlewares have type `Fn3 Request Response (Effect Unit) (Effect Unit)`

through natively express middlewares have type `EffectFn3 Request Response (Effect Unit) Unit`

it is forcing user to write

[code]

thought better version is

[code]

_______

also there is a mistake

https://github.com/nkly/purescript-express/blob/b0d3d31703a02a7dddc48fa2366

[2020-11-06 18:55] srghma opened #106 "applyAppM effect order is wrong"
I had a weird error - middlewares were applied in reversed order

[code]

[2020-11-06 19:10] srghma commented on #102
@nkly I could take that role

not sure how much time I could afford for this project, but I could merge important prs and later make a github action to push to pursuit on the new version tag

my pr https://github.com/nkly/purescript-express/pull/105

[2020-12-07 10:42] nkly commented on #102
Hi @srghma,

Glad to hear that.

If you still up to it, then I will deprecate this repo and corresponding package on Pursuit, and put a link to your fork as a recommended successor. There you can proceed developing it.

Could you please confirm that you're still want to do it and give me a link to the repo where you're going to continue development?

Thanks!

[2020-12-07 14:50] srghma commented on #102
@nkly hi

I have created an org https://github.com/purescript-express and added you and @i-am-the-slime to maintainers

could you please confirm invitation and transfer this repo to https://github.com/purescript-express organisation to preserve all open issues and prs

https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/transferring-a-repository#transferring-a-reposit

[2020-12-08 13:19] srghma opened #107 "ci: make a github action to push to pursuit on the new version tag"

[2020-12-08 13:20] srghma commented on #102
@nkly tnx!

[2020-12-08 13:20] #102 closed

[2020-12-08 13:23] srghma opened #108 "ci: use github actions instead of travis"

[2020-12-08 14:08] #97 closed

[2020-12-08 14:08] srghma commented on #91
bower removed

[2020-12-08 14:08] #91 closed

[2020-12-08 14:08] #104 closed

[2020-12-08 14:10] #100 closed

[2020-12-08 14:13] #94 closed

[2020-12-08 14:30] #108 closed

[2020-12-08 14:30] #106 closed

[2020-12-08 14:31] srghma commented on #93
@i-am-the-slime could you create a pr, tnx

[2020-12-08 14:33] srghma commented on #55
can this be closed @chexxor ?

[2020-12-08 19:05] chexxor commented on #55
@srghma Yeah! Thanks for the message!

[2020-12-08 19:05] #55 closed

[2021-03-18 13:40] i-am-the-slime opened #109 "Update to 0.14"
Should be clear.

Currently blocked by this:
https://github.com/paf31/purescript-foreign-generic/pull/61

[2021-03-18 14:40] srghma commented on #109
@i-am-the-slime I have sent you an owner invitation to this org :)

[2021-03-18 16:01] i-am-the-slime commented on #109
I'm too stupid to find it.

[2021-03-21 14:25] i-am-the-slime commented on #109
Finally made it 😄

[2021-03-31 21:53] ad-si commented on #109
@i-am-the-slime The generics PR is merged. What are the next steps?

[2021-04-11 15:04] #109 closed

[2021-04-16 10:40] i-am-the-slime commented on #109
@ad-si Only seen this now but looks like @srghma has taken care already 🥳

[2021-04-16 10:42] srghma commented on #109
I will tag new version and make a pr to package-sets

[2021-12-10 14:44] codingedgar opened #111 "`getBody` example"
**Is your change request related to a problem? Please describe.**
I'm super noob with PureScript but ok with JavaScript/Node, I'm trying to use `getBody` but fail to make it compile

Examples:

This is what I'm trying to do:
[code]

However I get this error:

[code]

**Describe the solution you'd like**
It would be nice an example of how to use `getBody` and `getBody'`

**Additional context**
I tr

[2021-12-10 15:20] codingedgar commented on #111
I finally was able to solve it with `Control.Monad.Except.runExcept` (which I understand is `runIdentity $ runExceptT`)

[2021-12-10 15:21] codingedgar commented on #111
i got a bit confused by the fact `runIdentity` does not exist but `unwrap` 😅

[2021-12-17 16:43] darrell-roberts commented on #103
I was recently looking into purescript-express and came up with perhaps a way to add express routes. I created a function useRouter and then a RouterM monad allowing routers to be built up in the same way the express app is built up:

https://github.com/darrell-roberts/purescript-express-proto/blob/master/src/Main.purs#L35
https://github.com/darrell-roberts/purescript-express-proto/blob/master/src

[2022-01-29 12:19] GuillaumeDesforges opened #112 "Unit test: status code is 0"
**Describe the bug**
`assertStatusCode` always gets 0

**To Reproduce**

[code]

Does not run on trypurescript (https://github.com/purescript/trypurescript/issues/265)

**Expected behavior**
Test should pass.

**Additional context**
When running a http server for this app, I get code 200 properly using curl.

[2022-01-29 12:25] GuillaumeDesforges opened #113 "Unit test: handlers are executed on all matching routes"
**Describe the bug**
All routes that match the requested route in test are run.

**To Reproduce**
[code]

gives

[code]

**Expected behavior**
Only the handler of the first matching route should be run.

**Additional context**
When running a http server for this app, requesting with curl gives me the right response data.

[2022-01-30 07:29] srghma commented on #112
Seems like it should have worked correctly before

Is it bc of https://github.com/purescript-express/purescript-express/pull/105/commits/5e59748a53142f3b3e323194a3225444db1f6efc ?

[2022-01-30 16:01] GuillaumeDesforges commented on #112
Having only one handler does not change the behavior: status code of test response is still 0.

[2022-01-30 18:09] GuillaumeDesforges commented on #113
Probably because of

https://github.com/purescript-express/purescript-express/blob/6a6965914d5eca67dc335e87912d7a7d8521e47b/src/Node/Express/Test/Mock.js#L330
It could run on the first matching route instead of all routes.

I'd like to say that it's maybe a good occasion to take a step back.
Building a fully-fledged framework to test a HTTP server is time-consuming and probably out of scope for th

[2022-01-31 15:01] srghma commented on #113
I have thought about superagent too, but I think It's better to be implemented as a separate purescript lib

(I'm not original author, so I wouldn't like to merge such big breaking changes, `@nkly` is original author, but he's not working on this lib anymore, I could add You as one of maintainers)